.container{
	font-family:'Nunito';
	color:gray;
	width:30%;
	margin:auto;
	border: 15px solid rgb(44,67,150);
	padding: 20px;
	box-sizing: border-box;
	font-size:16px;
	text-align: center;
	overflow: hidden;
	max-height: 550px;
}
.icon-group img{
    transform: scale(1.5,1.5);
    margin-right: 5px;
}
#icon{
	width:10%;
	display:inline-block
}
.facebook,
.google,
.phone{
    color: white;
}
.facebook{
	border: none;
	background-color:blue;
	padding:8px 6px;
	width: 32%;
}
.google{
	border: none;
	background-color: red;
	padding:8px 6px;
	width: 32%;
}
.phone{
	border: none;
	background-color: green;
	padding:8px 6px;
	width: 32%;
}
.row{
	width:100%;
}
.form-control{
	width:100%;
	padding:7px;
}
.form-group{
	line-height: 40px;
}
.row hr h3{
	float:left;
}
.row hr p{
	float:left;
}
.col-checkbox{
	width:48%;
	text-align: left;
	display: inline-block;
}
.forgot{
	width:48%;
	text-align:right;
	display: inline-block;
}
.col-forgot a{
	text-decoration: none;
}
.red-bagde{
	color:red;
}
.blue-text{
	float:left;
	color:rgb(80, 118, 175);
}
.Login-button{
	width:100%;
	padding: 7px;
	border: none;
	background-color: rgb(80, 118, 175);
}
.regsiter{
	width:100%;
	padding: 7px;
	border: 1px solid;
}

.login{
	position:relative;
}